/* Variables */
*, figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  color: #9a9a9a;
  font-family: "Poppins", sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: inherit;
  text-rendering: optimizeLegibility;
}

/* Usual classes */
.wrapper {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

.xxl-title { /* h1 */
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 4rem;
}
.xxl-title span {
  font-weight: 400;
}

.xl-title { /* h2 */
  letter-spacing: 1px;
  color: #555555;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.xl-title:after {
  content: "";
  display: block;
  width: 189px;
  height: 28px;
  margin: 0 auto;
  background-image: url("../../assets/img/star.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.md-title { /* h3 */
  text-transform: capitalize;
  margin-top: 20px;
}
.md-title span {
  font-size: 1rem;
  color: #18bfc3;
  display: block;
}

.sm-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

.xs-title { /* h5 */
  letter-spacing: 2px;
}

.xxs-title { /* h6 */
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #fff;
}

.y-btn {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 50px;
  margin: 1rem auto;
  border: none;
  cursor: pointer;
  background-color: #18bfc3;
  text-transform: capitalize;
  transition: transform 0.15s ease-out;
}
.y-btn:hover {
  transform: translateY(-0.5em);
  transition: transform 0.15s ease-out;
}

.selected {
  background-color: #fff !important;
}

.active-link {
  color: #fff;
  background-color: #643a79;
}

.p-details {
  font-size: 1.2rem;
  white-space: pre-line;
  margin-top: 10px;
  color: #9a9a9a;
}

i {
  color: #18bfc3;
  font-size: 2rem;
}

.card {
  filter: drop-shadow(0 0 1px #9a9a9a);
}

.card-title {
  text-transform: uppercase;
  color: #9a9a9a;
}

.card-text {
  text-transform: capitalize;
  color: #9a9a9a;
}

.card-body i {
  color: #9a9a9a;
  font-size: 1.3rem;
}

/* Volunteers */
.y-volunteers .card-img-top {
  width: 130px;
  height: 130px;
}
.y-volunteers .text-body-secondary a i {
  font-size: 1rem;
}

/* Latest News */
.y-news .card-body a {
  text-decoration: none;
  color: #18bfc3;
  text-transform: capitalize;
}
.y-news .card-body a i {
  color: #18bfc3;
}
.y-news .card-body .date-publication {
  background-color: #18bfc3;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}

/* Footer */
.stats i, .stats span {
  display: block;
  color: #fff;
}
.stats i {
  border: 1px solid #fff;
  border-radius: 100%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.stats span {
  font-size: 2rem;
  font-weight: 600;
}

/* Footer */
.footer nav a, .footer address a, .footer address {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 1.2rem 0;
}
.footer nav a i, .footer address a i, .footer address i {
  font-size: 1rem;
}/*# sourceMappingURL=index.css.map */